{% load i18n %}{% autoescape off %}
Hi {{ user.get_full_name|default:user.username }},

You're receiving this email because you (or someone else) requested a password reset for your Oakholm account.

Go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this, you can safely ignore this email — your password won't be changed.
{% endautoescape %}
